// Root Font Size Variable
$root-font-size: 16!default;

/**
*
* Apply Typographic Settings
*
**/
@if $root-font-size != 16 {
    html {
        font-size: $root-font-size * 1px;
    }
}

body {
    font-family: $body-font;
    font-weight: 100;
    @include type-setting(19, 27);
    color: colour-fetch(dark-grey);
    @include cleartext();
    text-rendering: optimizeLegibility;
}

// Generic link styles
a {
    color: colour-fetch(white);
    text-decoration: none;

    &:hover {
        color: colour-fetch(sky-blue);
    }
}

// Remove margin top styles on headings and paragraphs
h1,
h2,
h3,
p {
    margin-top: 0;
}

// Set font weight on headings
h1,
h2,
h3 {
    font-weight: 100;
}

// Generic list resetting
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
