// Root Font Size Variable — best to avoid changing unless you like risks.
// If you're relying on it **relatively** with ems, be careful.
$root-font-size: 16!default;

/**
*
* Apply Typographic Settings
*
**/
@if $root-font-size != 16 {
    html {
        font-size: $root-font-size * 1px;
    }
}

body {
    font-family: $body-font;
    @include type-setting(19, 27);
    color: color-fetch(dark-grey);
    @include cleartext();
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;

    &:hover {

    }
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

h1,
h2,
h3 {
    font-weight: 300;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
