.masthead {
    background: url('../images/hero-image.jpg') center center no-repeat color-fetch(darker-grey);
    background-size: cover;
    color: color-fetch(white);
    padding-top: relative-sizing(26);
}

.masthead__inner {
    position: relative;
    height: 616px;
}

.masthead__top-bar {

    a {
        color: color-fetch(white);
        transition: 0.3s ease;

        &:hover {
            color: color-fetch(sky-blue);
        }
    }

}

.logo {
    width: 148px;
    height: 0;
    padding-top: relative-sizing(41);
    display: block;
    overflow: hidden;
    background: url('../svg/logo.svg') center center no-repeat transparent;
    background-size: contain;
    float: left;
}

.main-navigation {
    background: color-fetch(darker-grey);
    transform: translate3d(-100%, 0, 0);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: relative-sizing(41) 33px;
    transition: transform 0.3s ease;

    &.is-open {
        transform: translate3d(0, 0, 0);
    }

}

.intro {
    max-width: 375px;
    position: absolute;
    bottom: 122px;
    left: 33px;
}

.intro__copy {
    @include type-setting(28, 37, 19);
    color: color-fetch(sky-blue);
}

.button--read-more {
    color: #afafaf;
    width: 180px;
    display: block;

    &:hover {
        background: #afafaf;
        border-color: #afafaf;
        color: #fff;
    }
}

@include breakpoint(800) {

    .masthead {
        height: 752px;
        padding-top: relative-sizing(56);
    }

    .logo {
        width: percentage(221/1100);
        padding-top: percentage(60/1100);
    }

    .mobile-navigation-toggle {
        display: none;
    }

    .intro {
        width: percentage(715/1166);
        max-width: none;
        bottom: 163px;

    }

    .intro__copy {
        @include type-setting(39, 48, 19);
    }

    .button--read-more {
        width: 165px;
    }

    .main-navigation {
        @include type-setting(17, 25, 19);
        float: right;
        width: percentage(732/1100);
        position: static;
        background: transparent;
        padding: 0;
        transform: translate(0);
    }

    .navigation-list {
        margin-top: relative-sizing(-4);
        text-align: right;
    }

    .navigation-list__item {
        display: inline-block;
        padding: 0 percentage(12/732);

        &--cta {
            padding: 0 0 0 percentage(12/732);
            width: percentage(245/732);

            a {
                padding: relative-sizing(12) 0;
                margin: -12px 0 0;
                color: color-fetch(turqoise);
                border: 1px solid currentcolor;
                display: inline-block;
                width: 100%;
                text-align: center;

                &:hover {
                    color: color-fetch(white);
                    background: color-fetch(sky-blue);
                    border-color: color-fetch(sky-blue);
                }
            }

        }
    }

}
