/**
*
* Our Services section
*
**/
.our-services {
    background: colour-fetch(light-grey);
}

.our-services__title {
    background: colour-fetch(light-grey);
    @include type-setting(17, 48, 19);
    padding: 0 percentage(15/366);
    position: relative;
    top: relative-sizing(-48);
    margin-bottom: 0;
    width: percentage(366/(520 - 66));
}



.grid {
    margin: relative-sizing(-48) 0 relative-sizing(51);

    li {

        &:nth-of-type(2) a,
        &:nth-of-type(8) a {
            position: relative;

            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 0px;
                height: 45px;
                border-left: 1px solid #c4cbcb;
                transition: border-color 0.3s ease;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
            }

            &:hover {

                &:before,
                &:after {
                    border-color: colour-fetch(dark-grey);
                }

            }

        }
    }
}

/**
*
* Grid Column
*
*
*
**/
.grid__column {
    width: 50%;
    float: left;
    height: 164px;
    position: relative;
    display: flex;

    // Set 2 columns to double the default width
    &--2-columns {
        width: 100%;
    }

    // Remove 2 row element
    // Because it's just decoration, remove it entirely
    &--2-rows {
        display: none;
    }

    // Set background size to cover
    &--image {
        background-size: cover;
    }

    // Set anchor to use flex so it can cover the entire area
    a {
        background: #fff;
        flex: 1;
        color: colour-fetch(dark-grey);
        padding: relative-sizing(18) percentage(21 / ((520 - 66) / 2));
        transition: color 0.3s ease, background-color 0.3s ease;
        position: relative;

        &:hover {
            background: colour-fetch(dark-grey);
            color: #fff;
        }
    }
}

.meeting {
    background: url('../images/meeting.jpg') center center no-repeat transparent;
}

.building {
    background: url('../images/building.jpg') center center no-repeat transparent;
}

.office {
    background: url('../images/office.jpg') center center no-repeat transparent;
}

/**
*
* Articles Section
*
**/

.articles__inner {
    margin-top: relative-sizing(60);
}

.articles__title {
    @include type-setting(22, 26, 19);
    margin-bottom: relative-sizing(60);
}

.post-carousel {
    margin-bottom: relative-sizing(138);
}

// Carousel Dots
.owl-dots {
    position: absolute;
    bottom: 30px;
    right: 8px;
    z-index: 500;
}

.owl-dot {
    background: rgba(colour-fetch(medium-grey), 0);
    width: 15px;
    padding-top: relative-sizing(15);
    border-radius: 50%;
    border: 1px solid colour-fetch(medium-grey);
    margin: 0 12px;
    transition: background 0.3s ease;
    float: left;

    &.active {
        background: colour-fetch(medium-grey);
    }
}

.post-carousel__item {
    background: colour-fetch(darker-grey);
    height: 420px;
    display: flex;
    transform: translateZ(0);

    a {
        color: #fff;
        flex: 1;
        transform: translate3d( 0, 0, 0);
    }

    .post-category {
        @include type-setting(14, 41, 19);
        height: 41px;
        padding: 0 percentage(12/456);
        margin: 0;
    }

    .post-thumbnail {
        background-size: cover;
        height: 186px;
    }

    .post-header {
        padding: relative-sizing(30) percentage(23/456);
    }

    .post-title {
        font-size: inherit;
        line-height: inherit;
        margin-bottom: 0;
    }

    .post-timestamp {
        color: colour-fetch(sky-blue);
    }

}

@include breakpoint(800) {


    .our-services__title {
        width: percentage(732/1100);
        @include type-setting(24, 57, 19);
        top: relative-sizing(-57);
        padding: 0 percentage(26/1100);
    }

    /**
    *
    * Additional Grid Decorations
    *
    * On the Desktop, there are more Grid Decorations.
    * Using nth-of-type(), the additional decorations can be applied.
    *
    **/
    .grid {
        margin: relative-sizing(-57) 0 relative-sizing(71);

        li {

            // Make shared styles for all elements needing decoration
            &:nth-of-type(3) a,
            &:nth-of-type(4) a,
            &:nth-of-type(8) a,
            &:nth-of-type(9) a {
                position: relative;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    transition: border-color 0.3s ease;
                }

                &:hover {

                    &:before,
                    &:after {
                        border-color: colour-fetch(dark-grey);
                    }

                }

            }

            // Target the third item
            &:nth-of-type(3) a {

                &:before,
                &:after {
                    height: 45px;
                    left: 0px;
                    border-left: 1px solid #c4cbcb;
                }

                &:before {
                    top: 0;
                }

                &:after {
                    bottom: 0;
                }
            }

            // Target the 4th and 9th items.
            &:nth-of-type(4) a,
            &:nth-of-type(9) a {

                &:before,
                &:after {
                    width: 45px;
                    top: 0;
                    right: 0;
                    border-top: 1px solid #c4cbcb;
                }
            }

            // Remove second line on 8th item.
            &:nth-of-type(8) a {

                &:after {
                    content: none;
                }

            }
        }
    }

    .grid__column {
        width: percentage(1/3);
        height: 265px;

        &--2-columns {
            width: percentage(2/3);
        }

        &--2-rows {
            display: inline-block;
            height: 530px;
        }

        a {
            padding: relative-sizing(30) percentage(30/(1100 / 3));
        }
    }

    .button--services {
        width: 236px;
        margin: 0 auto relative-sizing(117);
    }

    .articles__inner {
        margin-top: relative-sizing(84);
    }

    .articles__title {
        @include type-setting(28, 38, 19);
        margin-bottom: relative-sizing(32);
    }

    .post-carousel-container {
        margin: 0 -3px relative-sizing(138);
    }

    // .owl-dots {
    //     display: none;
    // }

    .post-carousel__item {
        border-left: 3px solid colour-fetch(white);
        border-right: 3px solid colour-fetch(white);

        .post-category {
            padding: 0 percentage(12/362);
            margin: 0;
        }

        .post-thumbnail {
            height: 186px;
        }

        .post-header {
            padding: relative-sizing(28) percentage(110/362) relative-sizing(28) percentage(25/362);
        }
    }

}
