.container {
    max-width: 1166px;
    margin: 0 auto;
    padding: 0 relative-sizing(33);
}

.clearfix {
    
    &:before,
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
