::selection {
    background: colour-fetch(darker-grey);
    color: #fff;
}

.container {
    max-width: 1166px;
    margin: 0 auto;
    padding: 0 relative-sizing(33);
}

.clearfix {

    &:before,
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.button {
    color: colour-fetch(medium-grey);
    border: 1px solid currentcolor;
    text-align: center;
    padding: relative-sizing(10) 0 relative-sizing(6);
    transition: 0.3s ease;

    &:hover {
        background: colour-fetch(medium-grey);
        color: #fff;
        border-color: colour-fetch(medium-grey);
    }
}

.button--expand {
    padding-left: relative-sizing(48);
    position: relative;

    span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
