/**
*
* Button styles
*
**/
.button {
    color: colour-fetch(medium-grey);
    border: 1px solid currentcolor;
    text-align: center;
    padding: relative-sizing(10) 0 relative-sizing(6);
    transition: 0.3s ease;

    &:hover {
        background: colour-fetch(medium-grey);
        color: #fff;
        border-color: colour-fetch(medium-grey);
    }
}

/**
*
* Expand Button styles
*
* Contains styles for inline SVG.
*
**/
.button--expand {
    padding-left: relative-sizing(48);
    position: relative;

    span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 48px;
        border-right: 1px solid currentcolor;
        transition: border-color 0.3s ease;
        padding: relative-sizing(8) relative-sizing(10) relative-sizing(8) relative-sizing(9);
    }

    .expand {
        fill: currentcolor;
        transition: fill 0.3s ease;
    }

    &:hover {

        span {
            border-color: colour-fetch(medium-grey);
        }

        .expand {
            fill: color-fetch(white);
        }
    }
}

/**
*
* Read More Button
*
**/
.button--read-more {
    color: #afafaf;
    width: 180px;
    display: block;

    &:hover {
        background: #afafaf;
        border-color: #afafaf;
        color: #fff;

        span {
            border-color: #afafaf;
        }
    }
}

/**
*
* Our Services Button
*
**/
.button--services {
    width: 253px;
    display: block;
    margin: 0 auto relative-sizing(65);
}
