/**
*
* Colour Palette
*
* Very basic colour
*
**/
$colour-palette: (
    white: #fff,
    black: #000,
    light-grey: #e1e4e8,
    medium-grey: #585e68,
    dark-grey: #3c3c3b,
    darker-grey: #2d3643,
    turqoise: #91c7de,
    sky-blue: #0da2d8,
);
