/**
*
* Typography Configuration File
*
* All font settings and font sizes to be configured here.
*
**/

/**
*
* Set the body copy to Univers, with a fallback stack.
*
**/
$body-font: 'Univers LT W01_45 Light1475944', Helvetica, Arial, sans-serif;
